# Ignore everything
/*
.config/sddmthemeinstallerrc

# Except these

!.vimrc
!.bashrc
!.bash_profile
!.profile
!.inputrc
!.gitmodules
!.gitignore
!.gitconfig
!README.md
!.zshrc
!.oh-my-zsh

!/.config/
**/logs
**/unity3d
**/pulse
**/MobsInc
**/Mailspring
**/CachedData
**/Cache
**/*cache*
**/Code\ -\ OSS
**/Electron
**/Clementine/*.db*
brittany
hlint
*.cookie
supertuxkart

!/.bin

lyrics/

!/.irssi
