# Ignore everything
/*

# Except these
!.config/
.config/*
!.config/zathura
!.config/awesome
!.config/i3
!.config/i3-resurrect
!.config/udiskie
!.config/systemd
!.config/rofi
!.config/polybar
!.config/polybar-forecast
!.config/qt5ct
!.config/qutebrowser
!.config/picom
!.config/neofetch
!.config/ncmpcpp/
.config/ncmpcpp/lyrics
!.config/nautilus
!.config/mpd
!.config/mpv/
.config/mpv/watch_later
!.config/Kvantum
!.config/kitty
!.config/Kid3
!.config/gtk-2.0
!.config/gtk-3.0
!.config/gtkrc
!.config/gtkrc-2.0
!.config/htop
!.config/fusuma
!.config/fontconfig
!.config/flashfocus
!.config/flameshot
!.config/dunst
!.config/dconf
!.config/copyq
!.config/clipster
!.config/beets
!.config/aria2c
!.config/albert
!.config/ranger

!.vimrc
!.bashrc
!.bash_profile
!.profile
!.inputrc
!.gitmodules
!.gitignore
!.gitconfig
!README.md
!.zshrc
!.oh-my-zsh

**/logs
**/unity3d
**/pulse
**/MobsInc
**/Mailspring
**/CachedData
**/Cache
**/*cache*
**/Code\ -\ OSS
**/Electron
**/Clementine/*.db*
brittany
hlint
*.cookie
supertuxkart

!/.bin
