[submodule ".config/ranger/plugins/ranger_devicons"]
	path = .config/ranger/plugins/ranger_devicons
	url = https://github.com/alexanderjeurissen/ranger_devicons
[submodule ".config/awesome/awesome-switcher"]
	path = .config/awesome/awesome-switcher
	url = https://github.com/berlam/awesome-switcher
[submodule ".config/awesome/nice"]
	path = .config/awesome/nice
	url = https://github.com/mut-ex/awesome-wm-nice
[submodule ".config/awesome/revelation"]
	path = .config/awesome/revelation
	url = https://github.com/guotsuan/awesome-revelation
[submodule ".config/awesome/vicious"]
	path = .config/awesome/vicious
	url = https://github.com/vicious-widgets/vicious
[submodule ".config/awesome/widgets"]
	path = .config/awesome/widgets
	url = https://github.com/streetturtle/awesome-wm-widgets
[submodule ".config/ncmpcpp/ncmpcpp-ueberzug"]
	path = .config/ncmpcpp/ncmpcpp-ueberzug
	url = https://github.com/alnj/ncmpcpp-ueberzug
[submodule ".config/qutebrowser/dracula"]
	path = .config/qutebrowser/dracula
	url = https://github.com/dracula/qutebrowser
[submodule ".oh-my-zsh"]
	path = .oh-my-zsh
	url = https://github.com/ohmyzsh/ohmyzsh.git
