VteTerminal,
TerminalScreen,
vte-terminal {
    padding: 25px 25px 24px 28px;
}

decoration, window.background {
  border-radius: 3.5px; /*change this to match adwaita theme*/
}

window {
  border: 1px 1px 1px 1px; /*this cause small empty space*/
}

headerbar {
	border-radius: 3px;
	border-bottom: none;
}

button.text-button {
	min-height: 24px;
}
